<%- include("header") -%>

<hr>

<h1><%= lang === 'ru' ? 'Регистрация' : 'Register' %></h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="<%= lang === 'ru' ? 'Имя пользователя' : 'Username' %>" required>
    <input type="password" name="password" placeholder="<%= lang === 'ru' ? 'Пароль' : 'Password' %>" required>
    <button type="submit"><%= lang === 'ru' ? 'Зарегистрироваться' : 'Register' %></button>
</form>

<p><%= message || "" %></p>
	
<%- include("footer") -%>